.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: maroon;
  height: 50px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-left: 9px;
}

.header__middle {
  display: flex;
  flex: 1.0;
  align-items: center;
  padding: 10px;
  border-radius: 1px;
  color: white;
  font-size: x-large;
  font-style:inherit;
  font-weight: 900;
}

.header__middle > .MuiSvgIcon-root {
  color: white;
}

.header__middle > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 40pt;
  background-color: transparent;
}

.header__right {
  display: flex;
  padding-right: 20px;
 

}

