.login {
  background-color: maroon;
  display:flex;
  place-items: center;
  height: 100vh;
  padding-left: 40%;
  
}

.login__container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 45%;
}
