.mail {
  flex: 1;
  background-color: maroon;
  border: 1px solid black;
}

.mail__tools {
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

.mail__toolsLeft {
  display: flex;
}

.mail__body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: white;
  padding: 20px;
  height: 100vh;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.mail__bodyHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 20px;
  position: relative;
}

.mail__important {
  color: gold!important;
}

.mail__bodyHeader > h2 {
  font-weight: 400;
  margin-right: 20px;
}

.mail__bodyHeader > p {
  margin-left: 20px;
}

.mail__time {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 12px;
  color: rgb(196, 74, 74);
}

.mail__message > p {
  padding: 10px;
  margin-right: 20px;
  overflow-wrap: break-word;
}

.forward {
  flex: 0.3;
  max-width: 200px;
  max-height: 40px;
  padding-right: 20px;
  background-color: maroon;
  display: flex;
  flex-direction: column;
}

.forward__sendmail {
  margin-top: -25px !important;
  margin-left: -30px !important;
  margin-bottom: 60px !important;
  text-transform: capitalize !important;
  background-color: darkslategray;
  padding: 30px !important;
  border-radius: 30px !important;
  display: flex;
  flex-direction: column;
}

.forward__footer {
  display: flex;
  justify-content: center;
}

.sidebar__sendmail {
  outline: hidden;
  color: blue;
}
