.sendMail {
  position: sticky;
  bottom: 0px;
  left: 0px;
  background-color: maroon;
  width: 26%;
  height: 75%;
  max-width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 3px solid black;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.sendMail__header {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.sendMail__header > h3 {
  color: white;
  font-size: 13px;
}

.sendMail__send {
  background-color: goldenrod !important;
  text-transform: capitalize !important;
  margin: 15px !important;
}

.sendMail__close {
  cursor: pointer;
}

.sendMail > form {
  display: grid;
  flex: 0;
  flex-direction: column;
}

.sendMail__error {
  background-color: red;
  color: goldenrod;
  text-align: right;
  padding: 2px;
}

.sendMail > form > input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.sendMail__message {
  flex: 1;
}
