.sidebar {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
  background-color: aqua;
}

.sidebar__sendmail {
  margin-top: 15px !important;
  margin-left: 10px !important;
  margin-bottom: 15px !important;
  text-transform: capitalize !important;
  background-color: aqua;
  padding: 15px !important;
  border-radius: 30px !important;
}

.sidebar__footer {
  display: flex;
  justify-content: center;
}
